<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}" type="text/css">
  <link rel="stylesheet" href="{{ '/css/sakura.css' | url }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <title>Roxyp - {{ title }}</title>
  <style>
    body {
      max-width: 46em;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <a href="{{ '/' | url }}">Home</a> /
      <a href="{{ '/blog/' | url }}">Blog</a> /
      <a href="https://gitlab.com/roxyp/roxyp">Source</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>
  <main>
    {{ content }}
  </main>
</body>

</html>